body {
  background-color: #c7e0bf;
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  width: 99%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

#headerNav{
  padding-left: 2em;
  padding-right: 2em;
}

#headerAside{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

#headerFirst{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  margin: auto;
}
